.navbar{
  background-color: transparent;
  color: #fff;
  position: absolute;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.logo{
    max-width: 200px;
}

.logo:hover{
  opacity: 70%;
  transition: .3s;
}

.navbar ul{
display: flex;
}

.navbar a{
  color: #fff;
  padding: 0 5px;
  margin: 0 5px;
  font-weight: 500;
}

.navbar a:hover{
  color: var(--primary-color);
  transition: .3s;
}

.navbar .container {
  width: 95%;
}

.navbar .flex{
  justify-content: space-between;
}



/* Hero */
.hero {
  height: 100vh;
  color: #fff;
  background-image: url(/Images/bb-family.png), linear-gradient(to right top, #344a53, #364f5a, #375560, #395a67, #3a606e);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 55%, cover;
  background-attachment: fixed;
}

.hero h1 {
  font-weight: 900;
}

.hero p {
  margin: 20px 0;
}



/* Burgers */

.burgers .card{
  text-align: center;
  transition: all .2s ease-in-out;
}

.burgers .card h4{
text-transform: uppercase;
}

.burgers .card img{
  max-width: 200px;
  }

.burgers .card:hover{
  transform: translateY(-15px);
}

.burgers .grid-r {
  align-items: stretch;
}


/* Team */

.team {
  background-color: whitesmoke;
}
.team .card {
  box-shadow: none;
  text-align: center;
  background-color: transparent;
}

.team .card img {
  max-width: 200px;
}

.team .card img {
  transition: all .2s ease-in-out;
}
.team .card img:hover {
  transform: scale(1.1);
}

.team .card h4{
  text-transform: uppercase;
  margin-top: 1em;
}

.team .grid-r {
  align-items: center;
  justify-content: center;

}

/* Footer */

.footer {
  background-image: linear-gradient(to right top, #344a53, #364f5a, #375560, #395a67, #3a606e);
  color: #fff;
  font-size: 1rem;
}

.footer a {
  color: #fff;
}
.footer .container {
  width: 95%;
}

.footer .contact i {
  margin-right: .5em;
}

.footer .social {
  margin: 1em 0;
}

.footer .social i {
  padding-right: 1rem;
}

.footer .grid-3 {
  align-items: start;
  justify-content: space-evenly;
  justify-items: center;
}

@media(max-width: 768px) {
  .footer .grid-3 {
    align-items: start;
    justify-content: start;
    justify-items: center;
  }
}











  