.navbar{
  background-color: transparent;
  color: #fff;
  position: absolute;
  z-index: 100;
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

.logo{
    max-width: 200px;
}

.logo:hover{
  opacity: 70%;
  transition: .3s;
}

.navbar ul{
display: flex;
}

.navbar a{
  color: #fff;
  padding: 0 5px;
  margin: 0 5px;
  font-weight: 500;
}

.navbar a:hover{
  color: var(--secondary-color);
  transition: .3s;
}

.navbar .flex{
  justify-content: space-between;
}


/* Hero */
.hero{
  height: 100vh;
  color: #fff;
  background-image: url(/Images/bb-family-2.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: repeat-x;
  background-position: bottom right;
  background-size: contain;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.hero h1{
  font-weight: 900;
}

.hero p{
  margin: 20px 0;
}



/* Burgers */

.burger-grid {
  background-image: url(/Images/bb-gene.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.burgers .card{
  text-align: center;
  transition: transform 0.2s;
}

.burgers .card h4{
text-transform: uppercase;
}

.burgers .card img{
  max-width: 200px;
  }

.burgers .card:hover{
  transform: translateY(-15px);

}






  