.navbar{
  background-color: var(--primary-color) ;
  color: #fff;
}

.logo{
    max-width: 200px;
}

.logo:hover{
  opacity: 70%;
  transition: .3s;
}

.navbar ul{
display: flex;
}

.navbar a{
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover{
  color: var(--secondary-color);
  transition: .3s;
}

.navbar .flex{
  justify-content: space-between;
}


/* Hero */
.hero{
  background-color: var(--primary-color);
  position: relative;
}

.hero h1{
  font-weight: 900;
}

.hero p{
  margin: 20px 0;
}

.hero .grid{
  gap: 30px;

}

/* Burgers */

.burgers .card{
  text-align: center;
  transition: transform 0.2s;
}

.burgers .card h4{
text-transform: uppercase;
}

.burgers .card img{
  max-width: 200px;
  }

.burgers .card:hover{
  transform: translateY(-15px);

}






  